/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800&display=swap'); */

* {
    margin: 0;
    padding: 0;
    font-family: Montserrat, Arial, Helvetica, sans-serif;

}

a {
    text-decoration: none;
    color: #fff;
}

.container {
    width: 1280px;
    margin: 0 auto;
}

.header {
    background: -webkit-linear-gradient(90deg, rgb(75, 146, 110), rgb(44, 61, 51));
    background: -moz-linear-gradient(90deg, rgb(75, 146, 110), rgb(44, 61, 51));
    background: linear-gradient(90deg, rgb(75, 146, 110), rgb(44, 61, 51));
    padding: 40px;
    color: #fff;
    font-size: 2.3rem;
    font-weight: bold;
    width: 100%;
}

.header__text-link {
    padding: 1.1rem;
}

.header__text {
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
}

main {
    background-color: #F4F4F4;
}

.main__order {
    padding: 5rem 0rem;
}

.main__order-left img {
    display: block;
    max-width: 100%;
}